@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(242, 240, 229);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-container {
  position: relative;
}

.hover-image {
  height: 7vw;
  position: absolute;
  top: 23vh;
  left: 2vw;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .hover-image {
  opacity: 1;
}

.animated-image {
  width: 15vw;
  height: 15vw;
  border-radius: 30px;
}

.animated-image:hover {
   -moz-animation: spinHorizontal 1s infinite linear;
    -o-animation: spinHorizontal 1s infinite linear;    
    -webkit-animation: spinHorizontal 1s infinite linear;
    animation: spinHorizontal 1s infinite linear;
}

@keyframes spinHorizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}
